body {
  height: 100vh;
  width: 100%;
  background: rgb(84, 230, 253);
  background: linear-gradient(
    180deg,
    rgba(84, 230, 253, 1) 0%,
    rgba(104, 63, 247, 1) 100%,
    rgba(104, 63, 247, 1) 100%
  );
}
.vertical-center {
  /* horiz-align: center; */
  vertical-align: middle;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-register .checkbox {
  font-weight: 400;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}
.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button-register {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(29, 205, 233, 1) 5%,
    rgba(104, 63, 247, 1) 100%,
    rgba(104, 63, 247, 1) 100%
  );
  border-color: none;
}

.button-login {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(29, 205, 233, 1) 5%,
    rgba(104, 63, 247, 1) 100%,
    rgba(104, 63, 247, 1) 100%
  );

  border-color: none;
}

.button-reset-password {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(29, 205, 233, 1) 5%,
    rgba(104, 63, 247, 1) 100%,
    rgba(104, 63, 247, 1) 100%
  );

  border-color: none;
}

.box {
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-radius: 20px;
}

.page-title {
  text-align: center;
}
