.right-side-drawer {
  height: 93%;
  position: fixed;
  top: 0;
  width: 50%;
  max-width: 400px;
  margin-top: 55px;
  z-index: 1;
  right: 0;

  background: rgba(84, 230, 253, 1);
  background: linear-gradient(
    +45deg,
    rgba(84, 230, 253, 1) 0%,
    rgba(104, 63, 247, 1) 100%
  );
}

.right-side-drawer a {
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
}

.right-side-drawer ul {
  margin: 7rem 0rem;
}

.right-side-drawer li {
  margin: 1rem 0rem;
  list-style: none;
}

.right-list {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 2rem 2rem;
}

.button-signout {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.details {
  color: white;
  margin: 10rem 0rem;
  width: 100%;
  text-align: center;
  /* font-size: 1rem; */
}

.details-name {
  font-size: 1rem;
}

.details-email {
  font-size: 0.8rem;
}
