.right-side-drawer {
    height: 96%;
    position: fixed;
    top: 0;
    width: 50%;
    max-width: 400px;
    margin-top: 55px;
    z-index: 200;
    right: 0;

    background: rgba(84, 230, 253, 1);
    background: linear-gradient(
            +45deg,
            rgba(84, 230, 253, 1) 0%,
            rgba(104, 63, 247, 1) 100%
    );
}

.right-side-drawer a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
}

.right-side-drawer ul {
    margin: 40% 0rem;
}

.right-side-drawer li {
    margin: 15% 0rem;
    list-style: none;
}

.right-list {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 10% 10%;
}

.button-signOut {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.user-image {
    text-align: center;
    /* margin: 2rem 40% 2rem 40%;
    background: lightblue;
    border-radius: 50%;
    width: 3rem;
    height: 3rem; */
}

.user-image-1 {
    text-align: center;
    margin: 10% 0 10%;
    padding: 15% 0 5%;
}

.center {
    margin: auto;
    text-align: center;
    /* border-radius: 50%; */
    background-color: transparent;
}

.initial-name {
    content: attr(data-letters);
    display: inline-block;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    background: white;
    vertical-align: middle;
    margin-right: 0rem;
    color: rgb(104, 63, 247);
}

.details {
    color: white;
    margin: 10% 0rem;
    width: 100%;
    text-align: center;
    /* font-size: 1rem; */
}

.details-name {
    font-size: 1rem;
}

.details-email {
    font-size: 0.8rem;
    margin: 5%;
}

.file-upload-avatar {
    opacity: 0.0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape or and older firefox browsers */
    -moz-opacity: 0.0;

    /* older Safari browsers */
    -khtml-opacity: 0.0;

    position: absolute;

    width: 5%;
    height: 8%;
}
