.side-drawer {
  height: 100%;
  /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0); */
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  margin-top: 55px;
  z-index: 200;

  background: rgb(104, 63, 247);
  background: linear-gradient(
    -45deg,
    rgba(104, 63, 247, 1) 0%,
    rgba(29, 205, 233, 0.5) 100%,
    rgba(148, 234, 248, 1) 100%,
    rgba(142, 230, 244, 1) 100%
  );
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}
