.side-drawer {
  height: 93%;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  margin-top: 55px;
  z-index: 200;

  background: rgb(104, 63, 247);
  background: linear-gradient(
          -45deg,
          rgba(104, 63, 247, 1) 0%,
          rgba(84, 230, 253, 1) 100%

  );
}

.categories-header {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.categories {
  margin: 1.5rem 1rem;
  color: white;
  font-size: 1.2rem;
}

.side-drawer li {
  margin: 1.5rem 0rem;
  list-style-type: none;
}

.side-drawer a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.button-categories {
  width: 90%;
  text-align: center;
  display: inline-block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  outline: none;

  background-image: linear-gradient(
    rgb(148, 234, 248),
    rgb(255, 255, 255),
    rgb(148, 234, 248)
  );
}

.button-help {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}
.category-element{
  display:flex;
  flex-wrap: nowrap;
}
